################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/PS_42_Martin/FileContentIndex/c5b31013-9320-48a5-8f53-d7c41f449caf.vsidx
